<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Mini Message Board</h1>

    <a href="/new">➕ New Message</a>

    <ul>
        <% messages.forEach((message, index) => { %>
            <li>
            <a href="/message/<%= index %>">
                <strong><%= message.user %></strong>: 
                <%= message.text %>
            </a>
            <br>
            <small><%= message.added.toLocaleString() %></small>
            </li>
        <% }) %>
    </ul>
</body>
</html>